
body{background-image: url("/images/blubackgrnd.jpg");
      background-repeat: repeat-y;}


#title{font-size: 40px;
      font-family:sans-serif;
      font-style: oblique;
      letter-spacing: 9px;}


#subtitle{font-size: 22px;
          font-family: serif;}

#paragraph{font-size: 14px}

#overlayButton{

  position: relative;
  padding: 3px 3px;
  padding-top: 6px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #8c8d8a;
  border: none;
  border-radius: 10px;
  padding-bottom: 10px;
}

#overlayButton:hover {background-color: steelblue}

#text{width: 30%;
      float:left;
      font-size: 18px;
      font-family:serif;}
#chart{float: left;
      padding-left: 50px;
      padding-top: 30px;
        }

#map3 {

  position: relative;;
  height: 460px;
  width: 60%;
  display: inline-flex;
  padding: 10px;
  border: 5px solid white;
}

.leaflet-popup-content p {
  margin: 0.1em 0;
}
#panel {
  width: 100%;
  padding: 10px ;
  display: inline;
  vertical-align: top;
  text-align:center;
  line-height: 10px;

}
.range-slider {
  width: 60%;

}

.sequence-control-container{
  width: 350px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 45px;
  text-align: center;

}

.legend-control-container{
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border: solid lightgrey 1px;
}

#forward {
  float: right;
}
#reverse {
  float: left;
}

#temporal-legend{
    font-weight:bold;
    font-size: 120%;
}
